###########################################
#                                         #
#       THIS VM HAS BEEN DEPLOYED BY      #
#         ___    _    _     _    _        #
#        |  _|  /_\  | |   | \__/ |       #
#        | |_  / _ \ | |__ |      |       #
#        |___|/_/ \_\|____||_|\/|_|       #
#                                         #
###########################################
#                                         #
#            AND IS MANAGED BY            #
#    _    _  _  ___  ___  ___  _     ___  #
#   /_\  | \| |/ __||_ _|| _ )| |   | __| #
#  / _ \ | .` |\__ \ | | | _ \| |__ | _|  #
# /_/ \_\|_|\_||___/|___||___/|____||___| #
#                                         #
###########################################

HOSTNAME: 
{{ ansible_hostname }}

CALM DEPLOYMENT: 
{{ calm_deployment }}

############################################
